{% extends 'base.html' %}
{% load static %}


{% block titulo %}
<title>Formulario</title>
{% endblock titulo %}


{% block base_navbar %}
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href={% url 'pagina_index' %}>Blog</a>
        <a class="btn btn-primary" href={% url 'pagina_crear_familiar' %}>Crear familiar</a>
        <a class="btn btn-primary" href={% url 'pagina_familia' %}>Familia</a>
        <a class="btn btn-primary" href={% url 'pagina_nosotros' %}>Acerca de nosotros</a>
    </div>
</nav>
{% endblock base_navbar %}


{% block base_header_h1 %}
Formulario del familiar:
{% endblock base_header_h1 %}


{% block base_main %}
<p>
    <a class="btn btn-secondary" href={% url 'pagina_crear_familiar' %}>Crear otro</a>
</p>
<p>
    <form action={% url 'pagina_familia' %}>
        {{formget}}
        <button>Buscar Familiar</button>
    </form>
</p>
<p>
    {% if lista_familiares %}
        <ul>
        {% for familiares in lista_familiares %}
        <li>{{familiares}}</li>
        {% endfor %}
    </ul>
    {% else %}
    No se encontro el familiar.
    {% endif %}

</p>
{% endblock base_main %}