{% extends 'base.html' %}
{% load static %}


{% block titulo %}
<title>Inicio</title>
{% endblock titulo %}


{% block base_navbar %}
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href={% url 'pagina_index' %}>CoderHouse</a>
        <a class="btn btn-primary" href={% url 'pagina_nosotros' %}>Acerca de nosotros</a>
    </div>
</nav>
{% endblock base_navbar %}


{% block base_header_h1 %}
Entrega intermedia del proyecto final
{% endblock base_header_h1 %}


{% block base_main %}
                <!-- formulario y listado-->
                <section class="testimonials text-center bg-light">
                    <div class="container">
                        <h2 class="mb-5">Formulario y listado:</h2>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                    <h5>Martin Baez</h5>
                                    <p class="font-weight-light mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus nam non repellendus molestiae aliquam molestias, sequi ipsa labore itaque veritatis fuga sit voluptatem optio obcaecati ipsam cumque recusandae laboriosam quasi!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
{% endblock base_main %}